<%- include('partials/header') %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4">
                <h2 class="text-center mb-4">Add New Transaction</h2>
                <!-- Below codes define the form fields -->
                <!-- 'name' attribute is CRITICAL. It must match req.body.description -->
                <form action="/add" method="POST">
                    <div class="mb-3">
                        <label for="portfolio-tradetype" class="form-label">Trade Type</label>
                        <input type="text" id="portfolio-platform" name="platform" class="form-control" required placeholder="e.g. DBS Vickers, Interactive Brokers">
                    </div>

                    <div class="mb-3">
                        <label for="portfolio-quantity" class="form-label">Quantity</label>
                        <input type="number" id="portfolio-quantity" name="quantity" step="1" class="form-control" required placeholder="0">
                    </div>

                    <div class="mb-3">
                        <label for="portfolio-unitprice" class="form-label">Unit Price ($)</label>
                        <input type="number" id="portfolio-unitprice" name="unitPrice" step="0.01" class="form-control" required placeholder="0.00">
                    </div>

                    <div class="mb-3">
                        <label for="portfolio-commission" class="form-label">Commission ($)</label>
                        <input type="number" id="portfolio-commission" name="unitPrice" step="0.01" class="form-control" required placeholder="0.00">
                    </div>

                    <div class="mb-3">
                        <label for="portfolio-date" class="form-label">Date of Investment</label>
                        <input type="date" id="portfolio-date" name="date" class="form-control" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="portfolio-tradeType" class="form-label">Trade Type</label>
                        <select id="portfolio-tradeType" name="tradeType" class="form-select">
                            <option value="Buy">Buy</option>
                            <option value="Sell">Sell</option>
                        </select>
                    </div>

                    
                    <!-- Button triggers the browser to send all the form field values as an HTTP POST request.
                    <!-- And Navigates the user back to the homepage (/) when clicked -->
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Save Transaction</button>
                        <a href="/" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>